// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap')
//font-family: 'Actor', sans-serif;

.q-page
    min-height: 30rem !important
//.q-field__control
//  height: 2.25rem !important
//  outline-color: initial
//  outline-style: solid
//  outline-width: 2px
//  padding: 0 !important
.button-primary
    background: #571AFF
    border-radius: 4px
    color: white
.separator
    min-width: 100%
    min-height: 2px
    background: rgba(138, 101, 212, 0.1)
    border-radius: 4px
