// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap')

.q-btn
    font-family: Actor, sans-serif
    text-transform: capitalize

.button-primary
    background: #571AFF
    border-radius: 4px
    color: white

.cursor-pointer
  cursor: pointer
    
.separator
    min-width: 100%
    min-height: 2px
    background: rgba(138, 101, 212, 0.1)
    border-radius: 4px

.gradient-box
  min-height: 232px
  width: 100%
  background: $gradient-2

.price-box-position
  margin-top: -100px

//hide unimplemented ui temporarily
.temp-hide
    visibility: hidden

.panel-title
    font-family: Actor, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 22.75px
    line-height: 27px

.q-select__dropdown-icon
  color: white !important

.maxSize
  max-width: 800px !important

.jsonViewer
  max-width: 100vw
  overflow: scroll

.q-tree__node-header
    min-height: 2px
    border-radius: 4px
    padding-left: 20px
    background: rgba(138, 101, 212, 0.1)

