// global sass Variables

$primary      : #571aff
$primary-dark : #071A5F
$secondary    : rgba(138, 101, 212, 0.1) // #8A65D41A
$accent       : #9C27B0

$gradient-1 : linear-gradient(180deg, #071A5F 0%, #571AFF 175.31%)
$gradient-2 : linear-gradient(90deg, #CBCAF5 0%, #A9CAF3 56.77%, #63C9EF 100%)
$gradient-3 : linear-gradient(90deg, #071A5F 0%, #571AFF 100%)

$dark      : #1d1d1d
$gray      : rgba(196, 196, 196, 0.3) // #C4C4C44D 
$positive  : #21BA45
$negative  : #ff0000
$info      : #31CCEC
$warning   : #F2C037

$black-5   : rgba(255, 255, 255, 0.05)
