// global sass quasar variables
$primary   : #2C2B2F
$secondary : #404142
$accent    : #C471F5
$dark      : #2C2B2F
$dark-page : #121212
$positive  : #21BA45
$negative  : #C10015
$info      : #00F2FE
$warning   : #F2C037

// custom definitions to enable quasar overriding
:root 
  --q-color-map: #4FACFE
  --q-color-sidebar-selected: #E6E9EC
  --q-color-primary-gradient: linear-gradient(142deg, #00F2FE 14.14%, #4FACFE 50.81%, #C471F5 80.97%)
  --q-color-secondary-gradient: linear-gradient(155deg, #2C2B2F 0%, #404142 100%)
  --q-color-tertiary-gradient: linear-gradient(90deg, rgba(0, 242, 254, 0.26) 0%, rgba(79, 172, 254, 0.22) 50%, rgba(196, 113, 245, 0.26) 100%)
  --q-color-progress-gradient: linear-gradient(142deg, #00F2FE 14.14%, #4FACFE 50.81%, #C471F5 80.97%)
  --q-color-producer-card-background: #F9F9F9
  --q-color-select-box-background: #E6E9EC
  --q-color-seperator-background: rgba(79, 172, 254, 0.24)
  --q-color-card-shadow: rgba(44, 43, 47, 0.18)
  --q-color-dropdown-card: #2C2B2F

  --q-color-header-background: #2C2B2F
  --q-color-header-text: #FFFFFF
  --q-color-header-border: #404142
  --q-color-header-support-background: linear-gradient(145deg, rgba(0, 242, 254, 0.16) 0%, rgba(0, 242, 254, 0) 34%), linear-gradient(25deg, rgba(196, 113, 245, 0.24) 0%, rgba(196, 113, 245, 0) 42%), linear-gradient(142deg, #2C2B2F 0%, #404142 44%, #4FACFE 140%)
  --q-color-graph-shadow: rgba(79, 172, 254, 0.34)

  --q-color-footer-background: #2C2B2F
  
